body {
    max-width: 800px;
    margin: auto;
    border: solid 1px black;
    padding: 10px;
    font-family: monospace;
    font-size: x-large;
}

header,
nav,
main,
footer {
    border: solid 1px black;
    padding: 10px;
    margin: 10px;
}

table {
    width: 100%;
}

table,
th,
td {
    border: solid 1px gray;
}

th,
td {
    text-align: left;
    padding: 5px;
}

th {
    background-color: black;
    color: white;
    text-align: center;
}

tr,
td {
    padding: 25px;
}

tr:nth-child(even) {
    background-color: lightgray;
}

/* Form Style */
form {
    width: 99%;
}

form div {
    margin-bottom: 18px;
}

form input[type="radio"] {
    margin-left: 18px;
}

form input[type="text"], form input[type="password"], form input[type="email"] {
    width: 100%;
    margin-top: 10px;
}

textarea {
    margin-top: 10px;
    width: 100%;
    height: 266px;
    resize: none;
}

form input[type="submit"] {
    padding: 15px;
    background-color: green;
    border: solid 1px black;
    font-weight: bold;
    color: white;
}