body {
    max-width: 600px;
    margin: auto;
    border: solid 1px black;
    padding: 10px;
    font-family: monospace;
    font-size: x-large;
}

header, nav, main, footer {
    border: solid 1px black;
    padding: 10px;
    margin: 10px;
}